<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- Reduce noise from Spark shutdown/temp-dir cleanup -->
    <Logger name="org.apache.spark" level="error" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.spark.util" level="error" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.spark.util.ShutdownHookManager" level="error" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.spark.SparkEnv" level="error" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
