body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-fluid {
    padding: 0;
}
header, footer {
    background-color: #627D77;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
main {
    padding: 20px;
}

.btn-pond {
    border-radius: 0px 0px 0px 0px;
    color: whitesmoke;
    background-color: #627D77;
    border-color: #627D77;
}

.btn-pond:hover {
    color: white;
    background-color: #627D77;
    border-color: #627D77;
}