<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pattern Desktop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css')}}">

    <script src="{{ url_for('static', filename='vendor/angular/angular.min.js')}}"></script>
    <script>
        angular.module('app', []);
    </script>
    <script src="{{ url_for('static', filename='components/pattern-element.js')}}"></script>
    <script src="{{ url_for('static', filename='components/pattern.js')}}"></script>
    <script src="{{ url_for('static', filename='components/controllers/pattern-controller.js')}}"></script>
    <script src="{{ url_for('static', filename='components/controllers/pattern-element-controller.js')}}"></script>
</head>
<body>
    <div class="container-fluid" ng-controller="MainController as ctrl">
        <div class="row-m-12">
            <main role="main" class="col">
                <header>
                    <h1>Pattern Engine for Realtime Visualization</h1>
                </header>
                <pattern 
                    pattern-data="ctrl.patternData"
                    on-element-change="ctrl.onElementChange()"
                    on-selected-element-change="ctrl.onSelectedElementChange(selectedElement)">
                </pattern>
            </main>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/desktop.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>